[COLORS]
number = Fore.GREEN
ends = Back.YELLOW
tabs = Back.YELLOW
conversion = Fore.CYAN
replace = Fore.YELLOW
found_keyword = Fore.RED
found_message = Fore.MAGENTA
matched_keyword = Back.CYAN
matched_message = Fore.LIGHTCYAN_EX
checksum = Fore.CYAN
count_and_files = Fore.CYAN
attrib_positive = Fore.LIGHTGREEN_EX
attrib_negative = Fore.LIGHTRED_EX
attrib = Fore.CYAN

