[COLORS]
line_numbers = Fore.GREEN
line_length = Fore.LIGHTBLUE_EX
line_ends = Back.YELLOW
tab_characters = Back.YELLOW
number_conversion = Fore.CYAN
substring_replacement = Fore.YELLOW
found_keyword = Fore.RED
found_keyword_message = Fore.MAGENTA
matched_pattern = Back.CYAN
matched_pattern_message = Fore.LIGHTCYAN_EX
checksum_message = Fore.CYAN
processed_message = Fore.CYAN
active_file_attributes = Fore.LIGHTGREEN_EX
missing_file_attributes = Fore.LIGHTRED_EX
file_attribute_message = Fore.CYAN

