colorama~=0.4.0
pyperclip~=1.8.0
windows-curses==2.3.0; platform_system=='Windows' and platform_python_implementation!='PyPy' and python_version<='3.10'
windows-curses~=2.3.0; platform_system=='Windows' and platform_python_implementation!='PyPy' and python_version>'3.10'